# Archivos del sistema operativo
desktop.ini
*.ini
.DS_Store
Thumbs.db

# Carpetas temporales
tmp/
temp/
logs/

# Entornos virtuales (ajustar según tu proyecto)
venv/
env/
node_modules/

# Archivos sensibles
.env
.env.local
*.log
*.key
*.pem

# Otros
*.swp
*~